.homeGrid{
    overflow: scroll;
    margin-top: 19%;
    margin-bottom: 10%;
    margin-left: 0;
    margin-right: 0;
    overflow-y: hidden;

    /* position: absolute; */
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.homeUl{
    display: flex;
    flex-direction: row;
    margin-top: -1%;
    padding: 0;
    justify-content: space-around;
}