
.logo {
    animation-duration: 2s;
    animation-name: goDown;
    animation-iteration-count: 1;
}
@keyframes goDown {
    from {
        margin-top: -15%;
    }
    to {
        margin-top: 0%;
    }
}
